[run]
source = aboutconfig
omit = */migrations/*
branch = true

[report]
precision = 2
fail_under = 90
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
